.table-of-contents {
	opacity: 0.6;
	top: 12em;
	position: fixed;
	transition: $transitionNormal;
	right: 100px;

	&:hover {
		opacity: 1;
		transition: $transitionNormal;
	}

	ul {
		padding: 0;

		li {
			list-style: none;
			padding: 0;

			a {
				border-width: 0;
				color: #333;
				opacity: 0.5;

				&:hover {
					color: $primaryColor;
					cursor: pointer;
					opacity: 1;
				}

				&.active {
					color: $primaryColor;
					opacity: 1
				}
			}
		}
	}

	.reading-time {
		font-size: 0.6em;
		font-style: italic;
	}
}